.center_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center_flex_abs {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;

    & + & {
        margin-top: 24px;
    }
}
